.whole-card {
  width: 80% !important;

height: 64px;

padding-bottom: 3px;
}

.text-dark{
  position: absolute;
  left: 10px;
}

.tiny {
  font: x-small verdana, arial, helvetica, sans-serif;
  color: #888;
  text-align: inherit;
  position: absolute;
  bottom: -5px;
  left: 1%;
}

.spec-req {
    width: 100% !important;
}

.status {
  width: 10%;
  padding: 5px;
  left: 85%;
  text-align: center;
  color: white;
}