<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark" [routerLink]="['/requests', historyRequest.title]">
    {{this.historyRequest.title}}
  </a>
  <p class="tiny">
    <span>
      submitted on {{this.historyRequest.createdOn | date: "HH:mm" }}
    </span>
    by
    <a></a>
  </p>
  <div class="card status" [ngClass]="{
'bg-primary': historyRequest.status === 'Pending',
'bg-warning': historyRequest.status === 'Under Review',
'bg-danger': historyRequest.status === 'Change Requested'}">
    {{this.historyRequest.status}}
  </div>
</div>