<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark" [routerLink]="['/requests', teamRequest.title]">
    {{this.teamRequest.title}}
  </a>
  <p class="tiny">
    <span>
      submitted on {{this.teamRequest.createdOn | date: "HH:mm" }}
    </span>
    by
    <a></a>
  </p>
  <div class="card status" [ngClass]="{
'bg-primary': teamRequest.status === 'Pending',
'bg-warning': teamRequest.status === 'Under Review',
'bg-danger': teamRequest.status === 'Change Requested'}">
    {{this.teamRequest.status}}
  </div>
</div>