<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark" [routerLink]="['/requests', request.title]">
    {{this.request.title}}
  </a>
  <p class="tiny">
    <span>
      submitted on {{this.request.createdOn | date: "HH:mm" }}
    </span>
    by
    <a>{{this.request.author}}</a>
  </p>
  <div class="card status" [ngClass]="{
'bg-primary': request.status === 'Pending',
'bg-warning': request.status === 'Under Review',
'bg-info': request.status === 'Change Requested',
'bg-success': request.status === 'Accepted',
'bg-danger': request.status === 'Rejected'}">
    {{this.request.status}}
  </div>
</div>