<div class="card">

  <div class="card-header bg-transparent">
    <ul class="nav nav-tabs card-header-tabs" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active text-primary" id="pills-teams-tab" data-toggle="pill" href="#pills-teams" role="tab"
          aria-controls="pills-user" aria-selected="true">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" id="pills-invites-tab" data-toggle="pill" href="#pills-invites" role="tab"
          aria-controls="pills-team" aria-selected="false">Invites</a>
      </li>
    </ul>
  </div>
  <div class="card-body pb-4">
    <div class="tab-content" id="pills-tab">
      <div class="tab-pane fade show active" id="pills-teams" role="tabpanel" aria-labelledby="pills-teams-tab">
          <app-profile-teams *ngFor="let team of teams" (teamLeft)="onLeavingTeam($event)" [team]="team" [loggedUser]="loggedUser"></app-profile-teams>
      </div>
      <div class="tab-pane fade" id="pills-invites" role="tabpanel" aria-labelledby="pills-invites-tab">
          <app-profile-invites *ngFor="let invite of invites" (inviteResolved)="onInviteResolved($event)" [invite]="invite" [loggedUser]="loggedUser"></app-profile-invites>
      </div>
    </div>
  </div>
</div>