<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark">
    Team: {{team.name}}
  </a>
  <div class="cont">
    <div class="card status manipulate add" type="button" data-toggle="modal" data-target="#addModal">
      Add User
    </div>
    <div class="card status" type="button" data-toggle="modal" data-target="#removeModal">
      Remove User
    </div>
  </div>
</div>

<div class="modal" id="addModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add to team: {{team.name}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="form-group meine-modal">
        <div class="contei" >
          <a class="list-group-item" *ngFor="let user of difference" (click)="addToTeam(user, team.name)">{{user}}
          </a>
        </div>
      </div>
      <!-- Modal footer -->
    </div>
  </div>
</div>

<div class="modal" id="removeModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Remove from team: {{team.name}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="form-group meine-modal">
          <div class="contei" >
            <a class="list-group-item" *ngFor="let user of teamMembers" (click)="removeFromTeam(user, team.name)">{{user}}
            </a>
          </div>
        </div>
        <!-- Modal footer -->
      </div>
    </div>
  </div>