<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark">
    {{this.team.name}}
  </a>
  <p class="tiny">
    <span>
      created on {{this.team.createdOn}}
    </span>
  </p>
  <button type="submit" class="card status bg bg-primary" data-toggle="modal" data-target="#myModal">
    Leave Team
  </button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want to leave team {{team.name}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="leave(team.id)">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>