<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark">
    {{invite.team}}
  </a>
  <div class="this">
      <button type="submit" class="card status bg bg-primary accept" (click)="respond('accept', invite.id, invite.team)">
          Accept
        </button>
        <button  type="submit" class="card status bg bg-primary" (click)="respond('reject', invite.id, invite.team)">
          Reject
        </button>
  </div>
  
</div>