<div class="review-btn">
  <button color="primary" [disabled]="isBanned" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#requestModal"> Add new Review Request</button>
</div>

<div class="modal" id="requestModal">
  <div class="modal-dialog">
    <form [formGroup]="reviewRequestForm" >

      <div class="modal-content request">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New Review Request</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="form-group meine-modal">
          <input class="form-control request-title" type="text" placeholder="Request title" formControlName="title">
          <p>Content</p>
          <textarea class="form-control" rows="20" cols="25" formControlName="content"></textarea>
          <p>Tags</p>
          <div [formGroup]="form">
            <div class="editor-tag" (click)="focusTagInput()">
              <span class="tag-item" *ngFor="let tag of tags">
                {{tag}}
                <span class="remove-tag" (click)="removeTag(tag)">
                  ×
                </span>
              </span>
              <input #tagInput type="text" class="input-tag " (keyup)="onKeyUp($event)" formControlName="tag">
            </div>
          </div>
          <div class="teams">
            <button  class="btn btn-secondary dropdown-toggle slc-team" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Team
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a id="{{team.name}}" class="dropdown-item text-justify-center" *ngFor="let team of teams" (click)="getUsers(team.name)">{{team.name}}
              </a>
            </div>
          </div>
          <div class="reviewers">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="userButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="isTeamSelected">
              Select Reviewers
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-justify-center" disabled *ngFor="let user of users"
              (change)="selectUsers(user.name)"  type="checkbox">{{user.name}}
                <input class="form-check-input" type="checkbox" value="" id="{{user.name}}">
              </a>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="createReviewRequest(reviewRequestForm.value)" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </form>

  </div>
</div>