<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark" >
    {{activity.activity}}
  </a>
  <p class="tiny">
    <span>
      submitted on 2
    </span>
    by
    <a></a>
  </p>
  <div class="card status">
    3
  </div>
</div>