<div class="card justify-content-center align-middle spec-req whole-card">
  <a class="text-dark" >
    {{user.name}}
  </a>
  <div class="card status"  type="button" (click)="assignAsAdmin(user.name)">
    Assign as Admin
  </div>
</div>