<div class="review-btn">
  <button color="primary" [disabled]="isBanned" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#teamModal"> Create new team</button>
</div>
<div class="modal" id="teamModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Team</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="form-group meine-modal">
        <div class="" style="width: 18rem;">
          <a class="list-group-item" *ngFor="let user of added">{{user}}
            <button type="button" class="close" aria-label="Close" ngDefaultControl (click)="selected(user)">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle slc-team" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Users
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-justify-center" disabled *ngFor="let user of users" [(ngModel)]="selectedLevel"
              (change)="selected(user.name)" ngDefaultControl type="checkbox">{{user.name}}
              <input class="form-check-input" type="checkbox" value="" id="{{user.name}}">
            </a>
          </div>
        </div>
        <input #teamName class="form-control team-name-input" type="text" placeholder="Team name">
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-dismiss="modal"
          (click)="createTeam(teamName.value)">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>