

textarea {
    width: 65% !important;
}

.dropdown {
    position: fixed;
    right: 37.15%;
    bottom: 86%;
    z-index: 2;
}

.form-check-input{
    position: absolute;
    right: 5%
}

.team-name-input {
    width: 10% !important;
    position: fixed !important;
    right: 37.15% !important;
    bottom: 78% !important;
}

.meine-modal {
    max-height: 800px;
    min-height: 150px;
}

.request {
width: 50%;
position: fixed;
right: 27%;
height: 83%;
}

.request-title{
    width: 30% !important;;
    margin: 10px !important;;
}

textarea{
    margin: 10px;
}
p {
    margin: 10px;
}

.request-tags{
    width: 30% !important;;
    margin: 10px !important;;
}

.modal-footer {
    border-top: 0px !important;
}

.modal-header {
    border-bottom: 0px !important;
}

.editor-tag {
    cursor: text;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background: white;
    border: 1px #ccc solid;
    max-width: 65.3%;
    margin: 10px;
  }
  .editor-tag .tag-item {
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    display: inline-block;
    background: dodgerblue;
    color: white;
    padding-left: 5px;
  }
  .editor-tag .tag-item .remove-tag {
    padding-right: 5px;
    cursor: pointer;
  }
  .editor-tag .tag-item:not(:first-child) {
    margin-left: 5px;
  }
  .editor-tag input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .teams {
    position: fixed;
    right: 30%;
    bottom: 75%;
    z-index: 2;
  }

  .reviewers {
    position: fixed;
    bottom: 65%;
    right: 30%;
    z-index: 2;
  }

  .slc-team {
    width: 190px;
  }

  .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: -moz-available;
  }
  