<div class="modal-buttons" *ngIf="!isAdmin">
  <app-request-modal [loggedUser]="loggedUser" (requestCreated)="onReviewRequestCreated($event)" [teams]="teams">
  </app-request-modal>
  <app-team-modal (teamCreated)="onTeamCreated($event)" [users]="users"></app-team-modal>
</div>
<div class="card" *ngIf="!isAdmin">

  <div class="card-header bg-transparent" >
    <ul class="nav nav-tabs card-header-tabs" id="pills-tab" role="tablist">
      <li class="nav-item" >
        <a class="nav-link active text-primary" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab"
          aria-controls="pills-user" aria-selected="true">Review Requests</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link text-primary" id="pills-team-tab" data-toggle="pill" href="#pills-team" role="tab"
          aria-controls="pills-team" aria-selected="false">Team Review Requests</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link text-primary" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab"
          aria-controls="pills-history" aria-selected="false">History</a>
      </li>
    </ul>
  </div>
  <div class="card-body pb-4" >
    <div class="tab-content" id="pills-tab">
      <div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
        <app-review-request-user *ngFor="let request of currentUserReviewRequests | paginate: { itemsPerPage: 10, currentPage: p1, id: 'userRequests' }" [request]="request" [loggedUser]="loggedUser"></app-review-request-user>
        <pagination-controls class="my-page" (pageChange)="this.p1 = $event" id="userRequests"></pagination-controls>

      </div>
      <div class="tab-pane fade" id="pills-team" role="tabpanel" aria-labelledby="pills-team-tab">
        <app-review-request-team-view *ngFor="let teamRequest of teamReviewRequests | paginate: { itemsPerPage: 10, currentPage: p2, id: 'teamRequests'}" [teamRequest]="teamRequest" [loggedUser]="loggedUser"></app-review-request-team-view>
        <pagination-controls class="my-page" (pageChange)="this.p2 = $event" id="teamRequests"></pagination-controls>

      </div>
      <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
        <app-review-request-history-view *ngFor="let historyRequest of history | paginate: { itemsPerPage: 10, currentPage: p3, id: 'historyRequests' }" [historyRequest]="historyRequest" [loggedUser]="loggedUser"></app-review-request-history-view>
        <pagination-controls class="my-page" (pageChange)="this.p3 = $event" id="historyRequests"></pagination-controls>

      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="isAdmin">
  <div class="card-header bg-transparent" >
    <ul class="nav nav-tabs card-header-tabs" id="pills-tab" role="tablist">
      <li class="nav-item" >
        <a class="nav-link active text-primary" id="pills-user-tab" data-toggle="pill" href="#pills-user-requests" role="tab"
          aria-controls="pills-user" aria-selected="true">All User Review Requests</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-primary" id="pills-team-tab" data-toggle="pill" href="#pills-team-requests" role="tab"
          aria-controls="pills-team" aria-selected="false">All Team Review Requests</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-primary" id="pills-history-tab" data-toggle="pill" href="#pills-teams" role="tab"
          aria-controls="pills-history" aria-selected="false">All Teams</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-primary" id="pills-history-tab" data-toggle="pill" href="#pills-users" role="tab"
          aria-controls="pills-history" aria-selected="false">Users</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-primary" id="pills-history-tab" data-toggle="pill" href="#pills-activity" role="tab"
          aria-controls="pills-history" aria-selected="false">Activity log</a>
      </li>
    </ul>
  </div>
  <div class="card-body pb-4" >
    <div class="tab-content" id="pills-tab">
      <div class="tab-pane fade show active" id="pills-user-requests" role="tabpanel" aria-labelledby="pills-user-tab">
        <app-user-requests *ngFor="let request of allUserRequests | paginate: { itemsPerPage: 10, currentPage: p4, id: 'allUserRequests' }" [request]="request" [loggedUser]="loggedUser"></app-user-requests>
        <pagination-controls class="my-page" (pageChange)="this.p4 = $event" id="allUserRequests"></pagination-controls>

      </div>
      <div class="tab-pane fade" id="pills-team-requests" role="tabpanel" aria-labelledby="pills-team-tab">
        <app-team-requests *ngFor="let teamRequest of allTeamRequests | paginate: { itemsPerPage: 10, currentPage: p5, id: 'allTeamRequests' }" [teamRequest]="teamRequest" [loggedUser]="loggedUser"></app-team-requests>
        <pagination-controls class="my-page" (pageChange)="this.p5 = $event" id="allTeamRequests"></pagination-controls>

      </div>
      <div class="tab-pane fade" id="pills-teams" role="tabpanel" aria-labelledby="pills-history-tab">
        <app-teams *ngFor="let team of allTeams | paginate: { itemsPerPage: 10, currentPage: p6, id: 'allTeams' }" [team]="team" [loggedUser]="loggedUser"></app-teams>
        <pagination-controls class="my-page" (pageChange)="this.p6 = $event" id="allTeams"></pagination-controls>

      </div>
      <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-history-tab">
        <app-users *ngFor="let user of allUsers | paginate: { itemsPerPage: 10, currentPage: p7, id: 'allUsers' }" [user]="user" [loggedUser]="loggedUser" (adminAssigned)="onAssignedAdmin($event)"></app-users>
        <pagination-controls class="my-page" (pageChange)="this.p7 = $event" id="allUsers"></pagination-controls>

      </div>
      <div class="tab-pane fade" id="pills-activity" role="tabpanel" aria-labelledby="pills-history-tab">
        <app-activity-log *ngFor="let activity of activities | paginate: { itemsPerPage: 10, currentPage: p8, id: 'allActivities' }" [activity]="activity" [loggedUser]="loggedUser" ></app-activity-log>
        <pagination-controls class="my-page" (pageChange)="this.p8 = $event" id="allActivities"></pagination-controls>

      </div>
    </div>
  </div>
</div>