@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

a {
  cursor: pointer;
}
