<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Post Content -->
      <div class="card my-4">
        <h5 class="card-header">{{this.specificRequest?.title}}
          <span [hidden]="!this.specificRequest?.isClosed">Closed with status: </span>
          <span class="badge" [ngClass]="{
            'badge-primary': specificRequest?.status === 'Pending',
            'badge-warning': specificRequest?.status === 'Under Review',
            'badge-info': specificRequest?.status === 'Change Requested',
            'badge-success': specificRequest?.status === 'Accepted',
            'badge-danger': specificRequest?.status === 'Rejected'}">{{this.specificRequest?.status}}</span>
        </h5>
        <div class="card-body">
          <div class="form-group">
            <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="20">
        {{this.specificRequest?.content}}
      </textarea>
          </div>
        </div>
      </div>
      <h4>Tags</h4>
      <div [formGroup]="form">
        <div class="editor-tag">
          <span class="tag-item" *ngFor="let tag of tags">
            {{tag}}
          </span>
        </div>
      </div>
      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form [formGroup]="createCommentForm" class="create-comment">
            <div class="form-group">
              <textarea class="form-control" rows="3" formControlName="content"></textarea>
            </div>
            <button type="submit" (click)="addComment(this.specificRequest.title)"
              class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <hr>
      <!-- Single Comment -->
      <div class="media mb-4" *ngFor="let comment of comments">
        <div class="media-body">
          <h5 class="mt-0">{{comment?.author}}</h5>
          {{comment?.content}}
          <hr>
        </div>
      </div>
    </div>

    <div>
      <button type="button" *ngIf="isOwner" [hidden]="this.specificRequest?.isClosed || this.isAdmin"
        class="btn btn-danger close-request" data-toggle="modal" data-target="#myModalClose">Close</button>
    </div>

    <div class="dropdown">
      <button type="button" *ngIf="!isOwner " [hidden]="this.specificRequest?.isClosed || this.isAdmin"
        [disabled]="this.hasVoted" class="btn btn-primary close-request" id="dropdownMenuButton" data-toggle="dropdown"
        data-dismiss="modal">{{message}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item text-justify-center" data-toggle="modal" data-target="#myModalAccept">Accept</a>
        <a class="dropdown-item text-justify-center" data-toggle="modal" data-target="#myModalReject">Reject</a>
        <a class="dropdown-item text-justify-center" data-toggle="modal" data-target="#myModalChange">Request
          Changes</a>
      </div>
    </div>

    <div class="dropdown">
      <button type="button" *ngIf="this.isAdmin" [hidden]="this.specificRequest?.isClosed" class="btn btn-primary close-request" id="dropdownMenuButton"
        data-toggle="dropdown">Close</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item text-justify-center" data-toggle="modal" (click)="closeRequest(this.specificRequest.id, 'accepted')">Accept</a>
        <a class="dropdown-item text-justify-center" data-toggle="modal" (click)="closeRequest(this.specificRequest.id, 'rejected')">Reject</a>
      </div>
    </div>

    <div class="modal fade" id="myModalAccept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Is this your final Vote ? You Cannot change it later !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="updateStatus('accepted', specificRequest.id)">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModalReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Is this your final Vote ? You Cannot change it later !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="updateStatus('rejected', specificRequest.id)">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModalChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Is this your final Vote ? You Cannot change it later !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="updateStatus('changerequested', specificRequest.id)">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModalClose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            You are about to Close your review request.
            <br>
            Are you confident in this decision ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>