textarea, input {
    resize: none;
    padding: 0px !important;
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.close-request {
    width: 172px;
    position: relative;
    top: 75px;
    right: -35px;
}

.editor-tag {
    cursor: text;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background: white;
    border: 0px #ccc solid;
    max-width: 65.3%;
    margin: 10px;
    pointer-events: none;
  }
  .editor-tag .tag-item {
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    display: inline-block;
    background: dodgerblue;
    color: white;
    padding-left: 5px;
  }
  .editor-tag .tag-item .remove-tag {
    padding-right: 5px;
    cursor: pointer;
  }
  .editor-tag .tag-item:not(:first-child) {
    margin-left: 5px;
  }
  .editor-tag input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  h4 {
      margin-bottom: -0.8rem;
  }

  .badge {
      color: white !important
  }

  .modal-body {
      text-align: center;
  }

  .dropdown-menu {
    width: -moz-available;
    text-align: center;
  }