<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="isLogged">
  <div class="navbar-nav">
    <!-- <a routerLink="/" class="nav-item nav-link">Home</a> -->
    <a routerLink="/requests" class="nav-item nav-link">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <div class="nav-link name">
        <span class="nav-link">Hello,
            <a  class="user" [routerLink]="['/profile', username]" >{{username}}</a>
            <i class="fas fa-bell name" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false"></i>
            <span class="badge badge-notify" *ngIf="hasNotifications">{{notifications.length}}</span>
            <div class="dropdown-menu notification class-drp-blck" *ngIf="hasNotifications" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item"  *ngFor="let notification of notifications" (click)=updateNotification(notification)>{{notification.content}}</a>
            </div>
        
      </span>
    </div>

    <div class="md-form mt-0 seach-bar">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>
</nav>
<router-outlet></router-outlet>