.name {
  position: absolute;
  right: 111px;
}

.seach-bar {
  position: absolute;
  right: 300px;
}

.fa-bell {
  cursor: pointer;
  position: inherit;
  margin-left: 10px;
}
.badge-notify{
  background:red;
  position:relative;
  top: -10px;
  left: 0px;
  color: white;
  border-radius: 100%;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: -100px; /* More to the left */
}
.nav-link, .user {
  color: #fff !important;
}