  <div class="card justify-content-center align-middle spec-req whole-card">
      <a class="text-dark" [routerLink]="['/requests', request.title]">
        {{this.request.title}}
      </a>
    <p class="tiny">
      <span>
        submitted on {{this.request.createdOn | date: "HH:mm" }}
      </span>
      by
      <a >{{this.loggedUser.name}}</a>
    </p>
    <div class="card status" [ngClass]="{
    'bg-primary': request.status === 'Pending',
    'bg-warning': request.status === 'Under Review',
    'bg-danger': request.status === 'Change Requested'}">
      {{this.request.status}}
    </div>
  </div>